html, body, #front {
  height: 100%;
}

html {
  font-size: 100%;
  color: white;
}

body {
  margin: auto;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  /*color: #5367d6;*/
  font-family: "Aldrich", sans-serif;
  letter-spacing: +0.5rem;
  font-weight: 500;
  /*text-shadow: 0.1rem 0.1rem 0.2rem rgb(255, 255, 255);*/
}

h3, p, a {
  font-family: "Reem Kufi", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  -moz-resize: none;
  resize: none;
}

header {
  /*background-color: rgba(255, 255, 255, 0.7);*/
}

.navbar-header button {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 0.15rem white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav li {
  background-color: rgba(0, 0, 0, 0.5);
  width: 6rem;
  margin: 1rem 1rem;
  border: solid 0.15rem white;
}

.nav li a {
  text-align: center;
  color: white;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1rem;
}

#nameplate {
  margin: auto;
}

#nameplate h1 {
  font-size: 4rem;
  color: white;
}

#nameplate h3 {
  text-align: center;
}

.flex-column {
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.parallax {
  display: flex;
  height: 33%;
  background-image: url(../images/AdobeStock_104819212.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax header {
  -webkit-align-self: center;
  align-self: center;
  margin: auto;
}

#footer {
  height: 20%;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#footer .btn {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2rem 1rem;
  border: solid 0.15rem white;
  border-radius: 0;
  color: white;
  font-family: "Reem Kufi", sans-serif;
}

#footer .btn:hover, .nav li a:hover {
  background-color: rgb(0, 0, 0);
}

#footer .btn span {
  margin-right: 0.5rem;
}

.section-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: #232630;
}

.section-content {
  display: -webkit-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  /*box-shadow: 0 0 0.3rem 0.1rem rgba(255, 255, 255, 0.3);*/
}

#about > .section-content {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

#about header h3 {
  font-family: "Aldrich", sans-serif;
  font-size: 2rem;
}

#about p {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}


#projects .section-content > div {
  width: 20rem;
}

.project-tall, .project-short {
  position: relative;
  float: left;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.project-tall {
  height: 31rem;
  width: 100%;
}

.project-short {
  height: 15rem;
  width: 100%;
}

.project-tall img, .project-short img {
  position: relative;
  flex: none;
  height: auto;
  width: auto;
}

.project-tall img {
  max-height: 31rem;
}

.project-short img {
  max-height: 15rem;
}

.overlay, .overlay a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}

.overlay h2, .overlay a, .overlay p {
  position: absolute;
  opacity: 0;
}

.overlay h2, .overlay p {
  right: 1rem;
  left: 1rem;
}

.overlay h2 {
  font-family: "Aldrich", sans-serif;
  font-size: 2rem;
  top: 2rem;
  -webkit-transition: transform 0.35s;
  -moz-transition: transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 1rem, 0);
  transform: translate3d(0, 1rem, 0);
}

.overlay p {
  bottom: 1rem;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -moz-transition: opacity 0.35s, transform 0.35s;
  -webkit-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.overlay:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.overlay h2::after {
  position: absolute;
  margin-top: 1rem;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  content: '';
  opacity: 0;
  -moz-transition: opacity 0.35s, transform 0.35s;
  -webkit-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  box-sizing: border-box;
}

.overlay:hover h2::after, .overlay:hover p, .overlay:hover h2 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.transparent-black-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
